[submodule "rust/vendor/muon"]
	path = vendor/muon
	url = git@gitlab.protontech.ch:ProtonVPN/rust/muon.git
[submodule "vendor/andromeda"]
	path = vendor/andromeda
	url = git@gitlab.protontech.ch:wallet/andromeda.git
[submodule "vendor/esplora-client"]
	path = vendor/esplora-client
	url = git@gitlab.protontech.ch:wallet/rust-esplora-client.git
[submodule "vendor/proton-crypto-rs"]
	path = vendor/proton-crypto-rs
	url = git@gitlab.protontech.ch:rust/proton-crypto-rs.git
