<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="me.proton.wallet.android.WalletApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="Proton Wallet"
        android:taskAffinity=""
        android:theme="@style/ProtonTheme.Wallet"
        tools:replace="android:theme">

        <meta-data
            android:name="io.sentry.auto-init"
            android:value="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <!-- Disable some Initializers. See MainInitializer. -->
            <meta-data
                android:name="me.proton.wallet.android.initializer.AccountStateHandlerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <meta-data
                android:name="me.proton.wallet.android.initializer.EventManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <meta-data
                android:name="me.proton.core.humanverification.presentation.HumanVerificationInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <meta-data
                android:name="me.proton.wallet.android.initializer.LoggerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <meta-data
                android:name="me.proton.wallet.android.initializer.MainInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <meta-data
                android:name="me.proton.core.auth.presentation.MissingScopeInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <meta-data
                android:name="me.proton.wallet.android.tracing.impl.SentryInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <meta-data
                android:name="me.proton.wallet.android.initializer.StrictModeInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <meta-data
                android:name="me.proton.core.network.presentation.init.UnAuthSessionFetcherInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <meta-data
                android:name="me.proton.core.plan.presentation.PurchaseHandlerInitializer"
                android:value="androidx.startup"
                tools:node="remove"/>
            <meta-data
                android:name="me.proton.core.paymentiap.presentation.GooglePurchaseHandlerInitializer"
                android:value="androidx.startup"
                tools:node="remove"/>
            <meta-data
                android:name="me.proton.core.plan.presentation.UnredeemedPurchaseInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
            <meta-data
                android:name="me.proton.core.userrecovery.presentation.compose.DeviceRecoveryInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <activity
            android:name="me.proton.wallet.android.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleInstance"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

</manifest>
